<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ca.openlanguage.pdftoaudiobook"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".PDFtoAudioBookHome"
                  android:label="@string/app_name">

        </activity>
        <activity 	android:name=".RegisterPDFActivity"
            		android:label="@string/register_pdf_file_message">
            <intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:mimeType="application/pdf" android:scheme="file"></data>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:mimeType="application/pdf" android:scheme="content"></data>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:host="*" android:scheme="file"
					android:pathPattern=".*\.pdf" />
			</intent-filter>
        </activity>
        <provider 	android:name="ca.openlanguage.provider.DocumentProvider"
        			android:authorities="ca.openlanguage.pdftoaudiobook"/>


    
    	<activity android:name="ca.openlanguage.pdftoaudiobook.ui.ChunksActivity"
    			android:label="ChunksActivity">
    	</activity>
    	<activity android:name="ca.openlanguage.pdftoaudiobook.ui.DocumentsActivity"
    			android:label="DocumentsActivity">
    	</activity>	
    	<activity android:name="ca.openlanguage.pdftoaudiobook.ui.DocumentsEditDetailActivity"
    			android:label="Documents Edit Detail Activity">		
    		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.openlanguage.document" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openlanguage.document" />
            </intent-filter>             
    	</activity>	
    	<activity android:name="ca.openlanguage.pdftoaudiobook.ui.ChunksEditDetailActivity"
    			android:label="Chunks Edit Detail Activity">	
			
    	</activity>
    
</application>
    <uses-sdk android:minSdkVersion="8" />

</manifest> 