<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ca.openlanguage.pdftoaudiobook"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".PDFtoAudioBookHome"
                  android:label="@string/app_name">

        </activity>
        <activity 	android:name=".RegisterPDFActivity"
            		android:label="@string/register_pdf_file_message">
            <intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:mimeType="application/pdf" android:scheme="file"></data>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:mimeType="application/pdf" android:scheme="content"></data>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:host="*" android:scheme="file"
					android:pathPattern=".*\.pdf" />
			</intent-filter>
        </activity>


    
    	<activity android:name="ca.openlanguage.pdftoaudiobook.ui.ChunksActivity"
    			android:label="ChunksActivity">
    	    <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.openlanguage.pdftoaudiobook.chunk" />
            </intent-filter>
    	</activity>
    	<activity android:name="ca.openlanguage.pdftoaudiobook.ui.DocumentsActivity"
    			android:label="DocumentsActivity">
    		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
    	    <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.openlanguage.pdftoaudiobook.note" />
            </intent-filter>
         </activity>	
         
    	<activity android:name="ca.openlanguage.pdftoaudiobook.ui.DocumentsEditDetailActivity"
    			android:label="Documents Edit Detail Activity"
    			>		
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="ca.openlanguage.pdftoaudiobook.action.EDIT_DOCUMENT_DETAILS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openlanguage.pdftoaudiobook.note" />
            </intent-filter>              
                        <!-- This filter says that we can create a new note inside
                 of a directory of notes. -->
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.openlanguage.pdftoaudiobook.note" />
            </intent-filter>
    	</activity>	
    	
    	<activity android:name="ca.openlanguage.pdftoaudiobook.ui.ChunksEditDetailActivity"
    			android:label="Chunks Edit Detail Activity">	
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="ca.openlanguage.pdftoaudiobook.action.EDIT_CHUNK_DETAILS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openlanguage.pdftoaudiobook.chunk" />
            </intent-filter> 
    	</activity>
    	
    	
        <activity android:name="ca.openlanguage.pdftoaudiobook.ui.TitleEditor"
            android:label="Title editors title"
            android:theme="@android:style/Theme.Dialog"
            android:icon="@drawable/ic_menu_edit"
            android:windowSoftInputMode="stateVisible">
            <!-- This activity implements an alternative action that can be
                 performed on notes: editing their title.  It can be used as
                 a default operation if the user invokes this action, and is
                 available as an alternative action for any note data. -->
            <intent-filter android:label="Resolve_title">
                <!-- This is the action we perform.  It is a custom action we
                     define for our application, not a generic VIEW or EDIT
                     action since we are not a general note viewer/editor. -->
                <action android:name="com.android.notepad.action.EDIT_TITLE" />
                <!-- DEFAULT: execute if being directly invoked. -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- ALTERNATIVE: show as an alternative action when the user is
                     working with this type of data. -->
                <category android:name="android.intent.category.ALTERNATIVE" />
                <!-- SELECTED_ALTERNATIVE: show as an alternative action the user
                     can perform when selecting this type of data. -->
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
                <!-- This is the data type we operate on. -->
                <data android:mimeType="vnd.android.cursor.item/vnd.openlanguage.pdftoaudiobook.note" />
            </intent-filter>
        </activity>

    	
    	<activity android:name="ca.openlanguage.pdftoaudiobook.ui.AudioBooksLiveFolder" 
    		android:label="@string/live_folder_name"
            android:icon="@drawable/live_folder_notes">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_LIVE_FOLDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider android:name=".provider.AudioBookLibraryProvider"
                  android:authorities="ca.openlanguage.pdftoaudiobook.provider.AudiobookLibrary" />
    	
    
</application>
    <uses-sdk android:minSdkVersion="8" />

</manifest> 